In [1]:
import os
os.environ["DJANGO_SETTINGS_MODULE"] = "mydjango13.settings"
os.environ["DJANGO_ALLOW_ASYNC_UNSAFE"] = "true"

import django
django.setup()

In [2]:
from mall.models import Shop

In [3]:
Shop.objects.all()

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC LIMIT 21; args=()

In [4]:
Shop

mall.models.Shop

# Create

In [5]:
shop = Shop() # FirstShop (o). first_shop(x). firstShop(x). first_Shop(x)
shop.name = "투썸플레이스"
shop.telephone = " 042-1234-1234"

In [6]:
shop.save()

(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('투썸플레이스', '', ' 042-1234-1234', '', '2021-12-01 06:40:57.953115', '2021-12-01 06:40:57.953115'); args=['투썸플레이스', '', ' 042-1234-1234', '', '2021-12-01 06:40:57.953115', '2021-12-01 06:40:57.953115']

In [7]:
shop = Shop.objects.create(
    name = "셀프24시빨래방",
    telephone = "042-1234-4321",
)
shop

(0.031) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('셀프24시빨래방', '', '042-1234-4321', '', '2021-12-01 06:40:57.970073', '2021-12-01 06:40:57.970073'); args=['셀프24시빨래방', '', '042-1234-4321', '', '2021-12-01 06:40:57.970073', '2021-12-01 06:40:57.970073']

# Select

In [8]:
qs = Shop.objects.all()

In [9]:
for shop in qs:
    print(shop.pk, shop.name, shop.telephone)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC; args=()

7 셀프24시빨래방 042-1234-4321
6 투썸플레이스  042-1234-1234
5 셀프24시빨래방 042-1234-4321
4 셀프24시빨래방 042-1234-4321
3 투썸플레이스  042-1234-1234

In [10]:
Shop

mall.models.Shop

In [11]:
qs.order_by("id")

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" ASC LIMIT 21; args=()

In [12]:
qs.order_by("-id")

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC LIMIT 21; args=()

In [13]:
qs.order_by("-id", "created_at") # 정렬은 가급적 단일 컬럼을 사용!

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC, "mall_shop"."created_at" ASC LIMIT 21; args=()

## 데이터 뻥튀기

In [20]:
for i in range(1,10):
    name = f"가게명#{i}"
    telephone = f"042-1234-0{i:03}"
    Shop.objects.create(
        name = name,
        telephone = telephone,
    )

(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#1', '', '042-1234-0001', '', '2021-12-01 06:45:45.156354', '2021-12-01 06:45:45.156354'); args=['가게명#1', '', '042-1234-0001', '', '2021-12-01 06:45:45.156354', '2021-12-01 06:45:45.156354']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#2', '', '042-1234-0002', '', '2021-12-01 06:45:45.181024', '2021-12-01 06:45:45.181024'); args=['가게명#2', '', '042-1234-0002', '', '2021-12-01 06:45:45.181024', '2021-12-01 06:45:45.181024']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#3', '', '042-1234-0003', '', '2021-12-01 06:45:45.189989', '2021-12-01 06:45:45.189989'); args=['가게명#3', '', '042-1234-0003', '', '2021-12-01 06:45:45.189989', '2021-12-01 06:45:45.189989']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#4', '', '042-1234-0004', '', '2021-12-01 06:45:45.197237', '2021-12-01 06:45:45.197237'); args=['가게명#4', '', '042-1234-0004', '', '2021-12-01 06:45:45.197237', '2021-12-01 06:45:45.197237']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#5', '', '042-1234-0005', '', '2021-12-01 06:45:45.204221', '2021-12-01 06:45:45.204221'); args=['가게명#5', '', '042-1234-0005', '', '2021-12-01 06:45:45.204221', '2021-12-01 06:45:45.204221']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#6', '', '042-1234-0006', '', '2021-12-01 06:45:45.210204', '2021-12-01 06:45:45.210204'); args=['가게명#6', '', '042-1234-0006', '', '2021-12-01 06:45:45.210204', '2021-12-01 06:45:45.210204']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#7', '', '042-1234-0007', '', '2021-12-01 06:45:45.218183', '2021-12-01 06:45:45.218183'); args=['가게명#7', '', '042-1234-0007', '', '2021-12-01 06:45:45.218183', '2021-12-01 06:45:45.218183']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#8', '', '042-1234-0008', '', '2021-12-01 06:45:45.225163', '2021-12-01 06:45:45.225163'); args=['가게명#8', '', '042-1234-0008', '', '2021-12-01 06:45:45.225163', '2021-12-01 06:45:45.225163']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#9', '', '042-1234-0009', '', '2021-12-01 06:45:45.231149', '2021-12-01 06:45:45.231149'); args=['가게명#9', '', '042-1234-0009', '', '2021-12-01 06:45:45.231149', '2021-12-01 06:45:45.231149']

# Delete Rows

In [14]:
# qs = Shop.objects.all()

In [15]:
# qs.delete()

# Slicing

In [21]:
qs = Shop.objects.all()

In [23]:
qs[:10] #first 10 rows

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC LIMIT 10; args=()

<QuerySet [<Shop: Shop object (16)>, <Shop: Shop object (15)>, <Shop: Shop object (14)>, <Shop: Shop object (13)>, <Shop: Shop object (12)>, <Shop: Shop object (11)>, <Shop: Shop object (10)>, <Shop: Shop object (9)>, <Shop: Shop object (8)>, <Shop: Shop object (7)>]>

In [24]:
qs[0:10:2]

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC LIMIT 10; args=()

[<Shop: Shop object (16)>,
 <Shop: Shop object (14)>,
 <Shop: Shop object (12)>,
 <Shop: Shop object (10)>,
 <Shop: Shop object (8)>]

In [27]:
qs[-10:] # last 10 rows => Not supported in DB

AssertionError: Negative indexing is not supported.

In [30]:
for shop in reversed(qs.order_by("id")[:10]):
    print(shop.pk, shop.name, shop.telephone)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" ASC LIMIT 10; args=()

12 가게명#5 042-1234-0005
11 가게명#4 042-1234-0004
10 가게명#3 042-1234-0003
9 가게명#2 042-1234-0002
8 가게명#1 042-1234-0001
7 셀프24시빨래방 042-1234-4321
6 투썸플레이스  042-1234-1234
5 셀프24시빨래방 042-1234-4321
4 셀프24시빨래방 042-1234-4321
3 투썸플레이스  042-1234-1234

# Conditions

In [31]:
qs = Shop.objects.all()

In [32]:
# filter <-> exclude

qs.filter(pk=1)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 1 ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(1,)

In [33]:
qs.exclude(pk=1)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE NOT ("mall_shop"."id" = 1) ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(1,)

<QuerySet [<Shop: Shop object (16)>, <Shop: Shop object (15)>, <Shop: Shop object (14)>, <Shop: Shop object (13)>, <Shop: Shop object (12)>, <Shop: Shop object (11)>, <Shop: Shop object (10)>, <Shop: Shop object (9)>, <Shop: Shop object (8)>, <Shop: Shop object (7)>, <Shop: Shop object (6)>, <Shop: Shop object (5)>, <Shop: Shop object (4)>, <Shop: Shop object (3)>]>

In [36]:
# lt : less than <
# lte : less than equal <=
# gt : greater than >
# gte : greather than equal >=

qs.filter(
    pk__gte = 5,
    pk__lt = 10, # lt = less than
)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE ("mall_shop"."id" >= 5 AND "mall_shop"."id" < 10) ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(5, 10)

In [37]:
qs.filter(pk__gte=5).filter(pk__lt=10)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE ("mall_shop"."id" >= 5 AND "mall_shop"."id" < 10) ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(5, 10)

In [39]:
qs1 = Shop.objects.all()
qs1 = qs1.filter(pk__gte=5)
qs1 = qs1.filter(pk__lt=10)

In [40]:
qs2 = Shop.objects.all().filter(pk__gte=5).filter(pk__lt=10)

In [41]:
# QuerySet is Lazy.

In [44]:
qs = Shop.objects.all()
shop_list = list(qs)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC; args=()

In [43]:
Shop.objects.all()

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC LIMIT 21; args=()

<QuerySet [<Shop: Shop object (16)>, <Shop: Shop object (15)>, <Shop: Shop object (14)>, <Shop: Shop object (13)>, <Shop: Shop object (12)>, <Shop: Shop object (11)>, <Shop: Shop object (10)>, <Shop: Shop object (9)>, <Shop: Shop object (8)>, <Shop: Shop object (7)>, <Shop: Shop object (6)>, <Shop: Shop object (5)>, <Shop: Shop object (4)>, <Shop: Shop object (3)>]>

# Get 1 Row

In [77]:
pk = 10
not_existed_pk =100000

In [78]:
shop = Shop.objects.get(pk=pk)
shop

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 10 LIMIT 21; args=(10,)

In [79]:
Shop.objects.get(pk = not_existed_pk) # Shop.DoesNotExist 예외가 발생

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 100000 LIMIT 21; args=(100000,)

DoesNotExist: Shop matching query does not exist.

In [80]:
shop = Shop.objects.filter(pk=pk)[0]
shop

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 10 ORDER BY "mall_shop"."id" DESC LIMIT 1; args=(10,)

In [83]:
Shop.objects.filter(pk = not_existed_pk)[0] # IndexError 예외가 발생o

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 100000 ORDER BY "mall_shop"."id" DESC LIMIT 1; args=(100000,)

IndexError: list index out of range

In [82]:
Shop.objects.filter(pk=not_existed_pk).first() # 지정 Row가 없다면 None을 반환할 뿐, 예외는 발생X

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 100000 ORDER BY "mall_shop"."id" DESC LIMIT 1; args=(100000,)

## Conditions (OR)

In [59]:
qs = Shop.objects.all()
qs.filter(pk__gte=5, pk__lt=10) # AND

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE ("mall_shop"."id" >= 5 AND "mall_shop"."id" < 10) ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(5, 10)

In [60]:
from django.db.models import Q

In [61]:
Q(pk__gte=5)

In [62]:
Q(pk__lt=10)

In [63]:
Q(pk__gte=5) & Q(pk__lt=10)

In [64]:
Q(pk__gte=5) | Q(pk__lt=10)

In [68]:
qs = Shop.objects.all()
qs.filter(
    Q(pk__gte=5) | Q(pk__lt=10)
)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE ("mall_shop"."id" >= 5 OR "mall_shop"."id" < 10) ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(5, 10)

<QuerySet [<Shop: Shop object (16)>, <Shop: Shop object (15)>, <Shop: Shop object (14)>, <Shop: Shop object (13)>, <Shop: Shop object (12)>, <Shop: Shop object (11)>, <Shop: Shop object (10)>, <Shop: Shop object (9)>, <Shop: Shop object (8)>, <Shop: Shop object (7)>, <Shop: Shop object (6)>, <Shop: Shop object (5)>, <Shop: Shop object (4)>, <Shop: Shop object (3)>]>

In [70]:
conditions = Q(pk__gte=5)
# conditions = conditions | Q(pk__lt=10)
conditions |= Q(pk__lt=10)

conditions

# Update Rows

## 지정 Row

In [85]:
qs = Shop.objects.all()
shop = qs.get(pk=10)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 10 LIMIT 21; args=(10,)

In [86]:
shop.name, shop.telephone

('가게명#3', '042-1234-0003')

In [87]:
shop.telephone = "042-1234-0006"

In [88]:
shop.save()

(0.016) UPDATE "mall_shop" SET "name" = '가게명#3', "description" = '', "telephone" = '042-1234-0006', "photo" = '', "created_at" = '2021-12-01 06:45:45.189989', "updated_at" = '2021-12-01 07:38:42.025236' WHERE "mall_shop"."id" = 10; args=('가게명#3', '', '042-1234-0006', '', '2021-12-01 06:45:45.189989', '2021-12-01 07:38:42.025236', 10)

## 지정 범위의 Rows

In [89]:
qs = Shop.objects.all()
qs = qs.filter(pk__lte=10)
qs.update(
    description = "not used description",
)

(0.047) UPDATE "mall_shop" SET "description" = 'not used description' WHERE "mall_shop"."id" <= 10; args=('not used description', 10)

8

In [90]:
qs = Shop.objects.all()
qs = qs.filter(pk__lte=10)
for shop in qs:
    shop.description = "not used description"
    shop.save()

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" <= 10 ORDER BY "mall_shop"."id" DESC; args=(10,)
(0.032) UPDATE "mall_shop" SET "name" = '가게명#3', "description" = 'not used description', "telephone" = '042-1234-0006', "photo" = '', "created_at" = '2021-12-01 06:45:45.189989', "updated_at" = '2021-12-01 07:42:38.986601' WHERE "mall_shop"."id" = 10; args=('가게명#3', 'not used description', '042-1234-0006', '', '2021-12-01 06:45:45.189989', '2021-12-01 07:42:38.986601', 10)
(0.000) UPDATE "mall_shop" SET "name" = '가게명#2', "description" = 'not used description', "telephone" = '042-1234-0002', "photo" = '', "created_at" = '2021-12-01 06:45:45.181024', "updated_at" = '2021-12-01 07:42:39.025664' WHERE "mall_shop"."id" = 9; args=('가게명#2', 'not used description', '042-1234-0002', '', '2021-12-01 06:45:45.181024', '2021-12-01 07:42:39.025664', 9)
(0.016) UPDATE "mall_shop" SET "name" = '가게명#1', "description" = 'not used description', "telephone" = '042-1234-0001', "photo" = '', "created_at" = '2021-12-01 06:45:45.156354', "updated_at" = '2021-12-01 07:42:39.035635' WHERE "mall_shop"."id" = 8; args=('가게명#1', 'not used description', '042-1234-0001', '', '2021-12-01 06:45:45.156354', '2021-12-01 07:42:39.035635', 8)
(0.000) UPDATE "mall_shop" SET "name" = '셀프24시빨래방', "description" = 'not used description', "telephone" = '042-1234-4321', "photo" = '', "created_at" = '2021-12-01 06:40:57.970073', "updated_at" = '2021-12-01 07:42:39.043615' WHERE "mall_shop"."id" = 7; args=('셀프24시빨래방', 'not used description', '042-1234-4321', '', '2021-12-01 06:40:57.970073', '2021-12-01 07:42:39.043615', 7)
(0.015) UPDATE "mall_shop" SET "name" = '투썸플레이스', "description" = 'not used description', "telephone" = ' 042-1234-1234', "photo" = '', "created_at" = '2021-12-01 06:40:57.953115', "updated_at" = '2021-12-01 07:42:39.054584' WHERE "mall_shop"."id" = 6; args=('투썸플레이스', 'not used description', ' 042-1234-1234', '', '2021-12-01 06:40:57.953115', '2021-12-01 07:42:39.054584', 6)
(0.016) UPDATE "mall_shop" SET "name" = '셀프24시빨래방', "description" = 'not used description', "telephone" = '042-1234-4321', "photo" = '', "created_at" = '2021-12-01 06:11:18.256992', "updated_at" = '2021-12-01 07:42:39.064581' WHERE "mall_shop"."id" = 5; args=('셀프24시빨래방', 'not used description', '042-1234-4321', '', '2021-12-01 06:11:18.256992', '2021-12-01 07:42:39.064581', 5)
(0.031) UPDATE "mall_shop" SET "name" = '셀프24시빨래방', "description" = 'not used description', "telephone" = '042-1234-4321', "photo" = '', "created_at" = '2021-12-01 06:11:08.577309', "updated_at" = '2021-12-01 07:42:39.073830' WHERE "mall_shop"."id" = 4; args=('셀프24시빨래방', 'not used description', '042-1234-4321', '', '2021-12-01 06:11:08.577309', '2021-12-01 07:42:39.073830', 4)
(0.000) UPDATE "mall_shop" SET "name" = '투썸플레이스', "description" = 'not used description', "telephone" = ' 042-1234-1234', "photo" = '', "created_at" = '2021-12-01 06:11:07.058709', "updated_at" = '2021-12-01 07:42:39.106428' WHERE "mall_shop"."id" = 3; args=('투썸플레이스', 'not used description', ' 042-1234-1234', '', '2021-12-01 06:11:07.058709', '2021-12-01 07:42:39.106428', 3)